.ejer13{
    color: green;
    font-size: 30px;
}
    
#container{
        width: 800px;
        height: 950px;
        color:black;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        margin-left: auto;
        margin-right: auto;
        background-color: red;
}

