*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 800px;
    height: 550px;
    background-color: rgb(93, 102, 99);
    margin: auto;
}
#header{
    width: 800px;
    height: 100px;
    background-color:rgb(255, 167, 233) ;
}
#enc{
    position: relative;
    text-align: center;
    top: 40px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color:rgba(230, 4, 4, 0.233);
}
#nav{
    width: 800px;
    height: 40px;
    background-color: rgb(85, 85, 87);
}
#men{
    position: relative;
    text-align: center;
    top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: rgb(10, 84, 255);
}
#main{
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: rgb(42, 34, 49);
    margin-top: 0px;
}
#cuer{
    position: relative;
    text-align: center;
    top: 200px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(218, 129, 29, 0.671);
}
#footer{
    float:left;
    width: 800px;
    height: 50px;
    background-color:rgba(23, 194, 0, 0.233);
    margin-top: 0;
}
#pie{
    position: relative;
    text-align: center;
    top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: rgba(0, 93, 233, 0.288);
}
#pie2{
    position: relative;
    text-align: center;
    top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    color: rgba(230, 76, 29, 0.548);
}
#img{
    position: relative;
    left: 700px;
    top: -25px;
}