*{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 800px;
    height: 550px;
    background-color: burlywood;
    margin: auto;
}
#header{
    width: 800px;
    height: 100px;
    background-color:rgb(53, 0, 90) ;
}
#enc{
    position: relative;
    text-align: center;
    top: 40px;
    font-family: cursive;
    font-size: 30px;
    color:white;
}
#nav{
    width: 800px;
    height: 40px;
    background-color: rgb(240, 0, 0);
}
#men{
    position: relative;
    text-align: center;
    top: 0px;
    font-family: cursive;
    font-size: 30px;
    color: rgb(6, 173, 20);
}
#main{
    margin: auto;
    width: 800px;
    height: 400px;
    background-color: rgb(150, 133, 245);
    margin-top: 0px;
}
#cuer{
    position: relative;
    text-align: center;
    top: 200px;
    font-family: cursive;
    font-size: 20px;
    color: rgb(97, 21, 21);
}
#footer{
    float:left;
    width: 800px;
    height: 50px;
    background-color:rgb(255, 246, 163);
    margin-top: 0;
}
#pie{
    position: relative;
    text-align: center;
    top: 10px;
    font-family: cursive;
    font-size: 20px;
    color: rgb(114, 93, 0);
}
#pie2{
    position: relative;
    text-align: center;
    top: 10px;
    font-family: cursive;
    font-size: 10px;
    color: rgb(116, 114, 0);
}
#img{
    position: relative;
    left: 700px;
    top: -25px;
}